include ./mixins.pug

div.resource-actions-buttons
  //- +actionButton('comment', {
  //-   text: resource.totalComments,
  //-   href: `${resource.detailUrl}#comments`,
  //- })
  //if resource.hasOwnProperty('favourite')
  +actionButton('bookmark', {
    highlight: resource.favourite,
    resource: resource._id
  })
  //- +actionButton('share', {})
