div.mdl-card.mdl-shadow--2dp.card
  div.mdl-card__media.card-media
    a(href='/' + resource.authorSlug + '/' + resource.titleSlug)
      img(src=resource.thumbnail)
      div.overlay
  div.mdl-card__title.card-title
    h2.mdl-card__title-text.truncate
          a(href=resource.detailUrl)=resource.title
  div.mdl-card__supporting-text.card-text.truncate=resource.content
  div.mdl-card__actions.card-footer
    span.card-published-date.date-ago=resource.publishedDate
    div.card-actions
      span.card-author=resource.author
      div.card-actions-buttons
        include ./actions.pug
