h5.comments-title Comentarios
div.comments-form
  form(action="#")
    div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
      input(type="text" id="new-comment").mdl-textfield__input
      label(for="new-comment").mdl-textfield__label Escribe tu comentario...
div.comments-list
  each comment in resource.comments
    div.mdl-card.mdl-shadow--2dp.card-comment
      div.mdl-card__title
        h4.comment-author
          a(href="/").author-link=comment.author
      div.mdl-card__supporting-text.comment-text=comment.text
