header.mdl-layout__header.header
  div.mdl-layout-icon
  div.mdl-layout__header-row
    span.mdl-layout__title=title
    div.mdl-layout-spacer
    nav.mdl-navigation
      if user != undefined && user.token
        a.mdl-navigation__link(id="logoutButton", href="")
          span.mdi.mdi-logout.mdi-24px
      else
        - var attributes = {}
        - attributes['data-needs-login'] = unauthorized
        a.mdl-navigation__link.mdi.mdi-login.mdi-24px(id="loginButton", href="")&attributes(attributes)
