include ./mixins.pug

dialog.mdl-dialog.dialog-close(id="loginDialog")
  div.dialog-content
    div.dialog-header: div.logo
    a.dialog-close(href="#")
      i.material-icons.dialog-close close
    div.mdl-dialog__content.login-content.login-signin
      div#login-signin
        p Identifícate en Legado Educativo y accede a los mejores profesores y recursos de la red
        form(id="signinForm", name="signinForm")
          +inputField('text', 'email', 'email')
          +inputField('password', 'password', 'contraseña')
          span.form-error
          +submitButton('entrar')
        p Si no tienes cuenta, #[a(href="", id="signupButton") regístrate] con tu email
      div#login-signup
        p Regístrate en Legado Educativo y accede a los mejores profesores y recursos de la red
        form(id="signupForm", name="signupForm")
          +inputField('text', 'email', 'email')
          +inputField('text', 'username', 'usuario')
          +inputField('password', 'password', 'contraseña')
          +inputField('text', 'fullname', 'nombre y apellido')
          span.form-error
          +submitButton('registrarme')
        p Si ya tienes cuenta, #[a(href="", id="signinButton") identifícate] con tu email
        div.login-verify
          i.material-icons mail
          p Una vez registrado, chequea tu buzón de correo y verifica tu dirección.
