div.mdl-layout__drawer
  header.menu-header
    a(href="/"): div.logo
  nav.mdl-navigation
    a.mdl-navigation__link(href="/")
      - var accent = '/' === url
      div.menu-item(class=accent ? 'accent' : '')
        i.material-icons view_list
        span Todos los recursos
    a.mdl-navigation__link.menu-item(href="/bookmarks")
      - var accent = '/bookmarks' === url
      div.menu-item(class=accent ? 'accent' : '')
        div.menu-item
          i.material-icons bookmark
          span Mis favoritos
    a.mdl-navigation__link.menu-item(href="/resources/new")
      - var accent = '/resources/new' === url
      div.menu-item(class=accent ? 'accent' : '')
        div.menu-item
          i.material-icons='note_add'
          span Nuevo recurso
