mixin inputField(type, name, placeholder)
  div.mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    if type === 'textarea'
      textarea.mdl-textfield__input(id=name, name=name, rows=10)
    else
      input.mdl-textfield__input(type=type, id=name, name=name)
    span.input-error
    label.mdl-textfield__label(for=name)=placeholder

mixin submitButton(text)
  button.mdl-button.mdl-js-button.mdl-button--raised.mdl-js-ripple-effect.mdl-button--accent(type="submit")=text

mixin actionText(action, text)
  i.material-icons=action
  if text
    span.action-text=text

mixin actionButton(action, options)
  - var buttonClasses = ['mdl-button', 'mdl-js-button', 'mdl-js-ripple-effect', action]
  if options.highlight === true
    - buttonClasses.push('highlight')

  - var attributes = {}
  if options.resource
    - attributes['data-resource'] = options.resource

  if options.href
    a(href=options.href class=buttonClasses)&attributes(attributes)
      +actionText(action, options.text)
  else
    button(class=buttonClasses)&attributes(attributes)
      +actionText(action, options.text)

