extends ./layout.pug
block content
  div.mdl-grid
    div.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-tablet.mdl-cell--hide-phone
    div.mdl-color--white.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col.mdl-cell--6-col-tablet
      article.detail-article
        header.detail-header
          h2.detail-author
            a(href="/").author-link=resource.author
          div.detail-date-actions
            span.detail-published-date.date-ago=resource.publishedDate
            div.detail-actions
              include ./includes/actions.pug
        div.detail-content
          h1.detail-title=resource.title
          figure.detail-media
            picture
              source(srcset=resource.desktopMedia media="(min-width: 841px)")
              source(srcset=resource.tabletMedia media="(min-width: 481px)")
              source(srcset=resource.phoneMedia)
              img(src=resource.media)
          p.detail-text=resource.content
        footer.detail-footer
          div.detail-actions
            include ./includes/actions.pug
            //section(id="comments").detail-comments
            //  include ./includes/comments.pug
