doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title legado educativo
  body
    include includes/login.pug
    div.mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      include includes/header.pug
      include includes/menu.pug
      include includes/main.pug
