extends ./layout.pug

block content
  section.mdl-grid
    div.mdl-cell.mdl-cell--2-col.mdl-cell--1-col-tablet.mdl-cell--hide-phone
    div.mdl-color--white.mdl-color-text--grey-800.mdl-cell.mdl-cell--8-col.mdl-cell--6-col-tablet
      div.new-resource
        form(id="new-resource", name="new-resource")
          +inputField('text', 'title', 'titulo')
          +inputField('file', 'media', 'imagen')
          a(href="#", id="fileSelect") Selecciona o arrastra una imagen
          div(id="dropbox")
            img(id="preview")
          +inputField('textarea', 'content', 'contenido')
          input(type="hidden", name="published", value="true")
          input(type="hidden", name="publishedDate", value=new Date())
          +submitButton('guardar y publicar')
