.resource-actions-buttons {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  min-height: 36px;

  button, a {
    align-items: center;
    color: inherit;
    display: flex;
    font-size: 1em;
    min-width: 0;
    padding: 0 .3em;

    i {
      font-size: .8em;
    }

    .action-text {
      font-size: .5em;
      margin-left: .5em;
    }

  }
}      
