.card {
  background: $card-background-color;
  width: 100%;
}

.card-media {
  background: transparent;
  height: 200px;
  position: relative;

  img {
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
    width: 100%;
  }
}

.card-title {
  h2 {
    font-size: 1em;
  }
  a {
    color: rgba($card-text-color, .8);
    font-weight: 500;
  }
}

.card-text {
  color: rgba($card-text-color, .65);
  padding-bottom: 0;
  padding-top: 0;
}

.card-footer {
  color: rgba($card-text-color, .65);
  margin-top: 1em;
  
  .card-published-date {
    font-size: .8em;
    font-style: italic;      
  }

  .card-actions {
    align-items: center;
    display: flex;
    justify-content: space-between;

    .card-author {
      font-size: .8em;
      font-weight: bold;
    }

    .card-actions-buttons {
      font-size: 1.4em;
    }
  }
}
