$color-accent-dark: #2bbd7e;

$header-background-color: #cfd8dc;

$card-background-color: #69f0ae;
$card-text-color: #000;

$detail-line-color: #ddd;

$color-highlight: #f07b69;

$color-error: #fc5475;