.logo {
  background-image: url('~images/LogoText.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 100%;
}

a.author-link {
  color: inherit;
  font-weight: inherit;
  transition: color .2s;

  &:hover {
    color: $color-accent-dark;
  }
}
