.comments-form {
  .mdl-textfield {
    width: 100%;    
  }
}

.card-comment {
  margin-top: 1em;
  min-height: 0;
  width: 100%;
}

.comment-author {
  font-size: 1em;
  font-weight: 400;
  line-height: 1em;
  margin: 0;
}

.comment-text {
  font-size: 1em;
  line-height: 1.5em;
}