.detail-header {
  border-bottom: 1px solid $detail-line-color;
  display: flex;
  flex-direction: column;
  padding-bottom: 1em;
}

.detail-author {
  font-size: 1.2em;
  font-weight: 500;
  line-height: 1.2em;
  margin: 0;
}

.detail-date-actions {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.detail-actions {
  color: $color-accent-dark;
  display: flex;
  font-size: 2em;
  justify-content: flex-end;
}

.detail-published-date {
  font-style: italic;
}

.detail-title {
  font-size: 2em;
  font-weight: 500;
}

.detail-media {
  margin: 0;
  margin-top: 28px;
  width: 100%;

  img {
    margin: 0 10%;
    max-height: 400px;
    object-fit: cover;
    object-position: 50% 50%;
    width: 80%;
  }
}

.detail-text {
  font-size: 1.4em;
  line-height: 200%;
  margin-top: 38px;
  margin-bottom: 0;
}

.detail-footer {
  border-top: 1px solid $detail-line-color;
  margin-top: 1em;
  padding-top: 1em;
}
