$backdrop-color: rgba(0, 0, 0, .2);

@keyframes show {
  from {
    opacity: .5;
    top: 25%;
  }
  to {
    opacity: 1;
    top: 50%;
  }
}

@keyframes hide {
  from {
    opacity: 1;
    top: 50%;
  }
  to {
    opacity: 0;
    top: 0;
  }
}

.mdl-dialog {
  padding: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
  overflow-y: auto;

  &.show {
    animation: show .5s ease;
  }

  &.hide {
    animation: hide .25s ease-in forwards;
  }

}

.mdl-dialog::backdrop, .mdl-dialog + .backdrop {
  background: $backdrop-color;
}

.mdl-dialog + .backdrop {
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.dialog-content {
  padding: 1em;
}

.dialog-header {
  height: 50px;
  margin: 10px auto;
  width: 100%;
}

a.dialog-close {
  position: absolute;
  top: 0;
  right: 0;
  margin: 1em;
}

@include tablet {
  .mdl-dialog {
    width: 480px;
    height: auto;
  }

  .dialog-content {
    padding: 3.5em;
  }  

  a.dialog-close {
    margin: 2em;
  }
  
}

