.header {
  background: $header-background-color;
}

.header-actions {
  height: 28px;
  position: relative;
}

.header-search {
  margin-right: 0;
}

#add {
  position: absolute;
  right: 40px;
  top: 0;
  z-index: 999;
}

#loginButton, #logoutButton {
  color: $color-accent-dark;
  font-weight: 500;
}
