.login-content {

  p {
    font-weight: 500;
    text-align: center;
  }

  form {
    & > * {
      width: 100%;      
    }

    button {
      margin-top: 1em;
    }

    margin-bottom: 2em;
  }

}

.login-signin {
  & #login-signin {
    display: block;      
  }

  & #login-signup {
    display: none;      
  }
}

.login-signup {
  & #login-signin {
    display: none;      
  }

  & #login-signup {
    display: block;      
  }
}

.login-verify {
  align-items: center;
  display: flex;

  i {
    color: $color-accent-dark;
    font-size: 2.5em;
  }

  p {
    margin: 0 0 0 1em;
    text-align: left;
  }
}