$color-primary: "43, 189, 126";
$color-primary-light: "255, 255, 255";
$color-primary-dark: "158, 167, 170";
$color-accent: "105, 240, 174";
$color-accent-light: "159, 255, 224";
$color-accent-dark: "43, 189, 126";

$color-primary-text: "51, 51, 51";
$color-primary-contrast: "51, 51, 51";
$color-accent-contrast: "51, 51, 51";
