$min-tablet-width: 481px;
$min-desktop-width: 841px;

@mixin tablet {
  @media (min-width: $min-tablet-width) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $min-desktop-width) {
    @content;
  }
}