#new-resource {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;

  div {
    width: 100%;
  }

  div:nth-of-type(2) {
    width: 30%;
  }

  input[type='file'] {
    visibility: hidden;
  }

  button {
    width: 100%;
    margin-top: 1em;
  }
}

#dropbox {
  border: 1px solid #cecece;
  border-radius: 4px;
}

#preview {
  margin: 5% 10%;
  max-height: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  width: 80%;
}

@include tablet {
  #new-resource {
    button {
      max-width: 50%;
    }
  }
}
