* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
}

html, body, h1, h2, h3, h4, h5, h6, a {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

a {
  text-decoration: none;

  &:focus {
    outline: none;
  }
}
