.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #000;

  &:hover {
    opacity: .2;
  }
}  

.truncate {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.accent {
  color: $color-accent-dark !important;
}

.highlight {
  color: $color-highlight !important;
}

.input-error, .form-error {
  color: $color-error;
}

.input-error {
  position: absolute;
  font-size: .8em;
  margin-top: .4em;
}
