@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'material-colors';
@import '~material-design-lite/src/material-design-lite';
$mdi-font-path: '~mdi/fonts/';
@import '~mdi/scss/materialdesignicons';
@import 'reset';
@import 'colors';
@import 'media';
@import 'utils';
@import 'commons';
@import 'header';
@import 'menu';
@import 'main';
@import 'home';
@import 'card';
@import 'detail';
@import 'actions';
@import 'comments';
@import 'dialog';
@import 'login';
@import 'new-resource';
